<!DOCTYPE html>
<html>
<head>
<title>Nash Skinner - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The resume website of Nash Skinner."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="style.css">

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<%= image_tag('headshot.jpg', alt:'Nash Skinner') %>
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Nash Skinner</h1>
			<h2 class="quickFade delayThree">Software Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:nash.skinner@yahoo.com" target="_blank">nash.skinner@yahoo.com</a></li>
				<li>w: <a href="http://www.nashskinner.com">www.nashskinner.com</a></li>
				<li>m: (405) 413-8884</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		<br/>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>General Merchandise Expert at Target</h2>
					<p class="subDetails">October 2019 - Present</p>
					<p>Organize racks and shelves to maintain store visual appeal, engage customers and promote specific merchandise. Provide accurate information about promotions, customer programs and products, helping drive high customer retention. Process high volumes of freight and maintain floor and backroom accuracy over multiple departments with excellent time management. Working agile and adaptive to help other departments that need additional assistance.
					</p>
				</article>
				<br/>

				<article>
					<h2>Associate Software Engineer at Cerner Corporation</h2>
					<p class="subDetails">June 2018 - September 2018</p>
					<p>Implement a three-part system of Web-App, Mobile-App, and REST API for Conferences. Program React.js frontend components with Java API on top of a SQL database. Allow for all-conference data to be managed on Web-App along with viewing all reported surveys from specific talks at a conference. Develop Mobile-App for users to take surveys, and send feedback.
					</p>
				</article>
				<br/>
				
				<article>
					<h2>Software Engineer at Cerner Corporation</h2>
					<p class="subDetails">May 2017 - July 2017</p>
					<p>Create Apache Hadoop pipeline tasks to fetch medical records. Manipulate data using Clojure to find the specific error points. Manage data on a JavaScript webpage that allowed users to collapse down data to create the most efficient reading of the record. Wrote unit tests using JUnit, Clover.
					</p>
				</article>
				<br/>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>JavaScript</li>
					<li>Java</li>
					<li>C/C++</li>
					<li>React.js</li>
					<li>Python</li>
					<li>Ruby On Rails</li>
					<li>HTML/CSS</li>
					<li>PostgreSQL</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Oklahoma State University in Stillwater</h2>
					<p class="subDetails">B.S. Computer Science 2014 - 2018</p>
					<p>President of the Arts and Sciences Student Council 2016-2017. Core Ciriculum Council 2015-2017. Arts and Sciences councilor 2015-2018. Residential Assistant 2015-2017. New Student Residential Aid 2016</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>

</body>
</html>